<p>bug-list works</p>

<div class="row">
  <div class="col-lg-4">
    <div class="row">
      <div class="col-lg-12">
        <p>Taches à faire</p>
      </div>
      <div class="col-lg-12" *ngFor="let b of bugs">
        <div class="col-lg-12 block-bugs">
          <p>{{ b.name }}</p>
          <p>{{ b.description }}</p>
          <p>{{b.developers.nom}}</p>
          <p>{{b.developers.prenom}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="row">
      <div class="col-lg-12">
        <p>Taches en cours</p>
      </div>
      <div class="col-lg-12" *ngFor="let b of bugs">
        <div class="col-lg-12 block-bugs">
          <p>{{ b.name }}</p>
          <p>{{ b.description }}</p>
          <p>{{b.developers.nom}}</p>
          <p>{{b.developers.prenom}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="row">
      <div class="col-lg-12">
        <p>Taches terminées</p>
      </div>
      <div class="col-lg-12" *ngFor="let b of bugs">
        <div class="col-lg-12 block-bugs">
          <p>{{ b.name }}</p>
          <p>{{ b.description }}</p>
          <p>{{b.developers.nom}}</p>
          <p>{{b.developers.prenom}}</p>
        </div>
      </div>
    </div>
  </div>
</div>