<p>bug-detail works!</p>
<div *ngIf="bugs != undefined">
    <p>Nom :{{bugs.name}}</p>
    <p>Description : {{bugs.description}}</p>
    <p>Priorité : {{bugs.priority}}</p>
    <p>Progression : {{bugs.progress}}</p>
    <p>Développeur : {{bugs.developers.nom}} {{bugs.developers.prenom}}</p>
    <p *ngIf="commentaire.length > 0">Commentaires : </p>
    <div *ngFor="let c of commentaire">
        <p>Par {{c.developers.nom}} {{c.developers.prenom}} </p>
        <p>{{ c.texte }}</p>
    </div>

    <div>
        <h3>Ajouter un nouveau commentaire</h3>
        <form [formGroup]="createForm" (ngSubmit)="onSubmitCom(createForm.value)">
            <div class="form-group">
                <select class="form-control" name="developer" id="developer">
                    <option *ngFor="let d of devs" name="d.id">{{d.prenom}} {{d.nom}}</option>
                </select>
                <textarea placeholder="Texte" class="form-control" id="texte" rows="5" cols="33" formControlName="texte" required></textarea>
            </div>
            <div class="form-group">
                <button class="form-control btn btn-success" type="button" type="submit">Valider</button>
            </div>
        </form>
    </div>
</div>


    
